.root2{
  margin-left: 6vw;
}
.header {
  margin-bottom: 1rem;
}

.button {
  margin-top: 1.5rem;
  background-color: #1976d2;
  color: #fff;
}

.button:hover {
  background-color: #004ba0;
}

.avatar {
  background-color: #f50057;
}
